<div class="lp_wrap">
  <header>
    <h1>
      二ヶ月でウェブサービスを作る方法
    </h1>
  </header>
  	<img src="/assets/report02/il_01_header.gif" alt="二ヶ月でウェブサービスを作る方法" width="960" height="124">
    <img src="/assets/report02/il_01.gif" alt="" width="960" height="273">
    <img src="/assets/report02/il_02.gif" alt="" width="960" height="334">
    <h2><img src="/assets/report02/img_h_01.gif" alt="Ruby on Railsのインストール" width="960" height="52"></h2>
    <img src="/assets/report02/il_03.gif" alt="" width="960" height="108">
    <div class="ins_01">
      <div class="com_01">
        gem install rails -v "3.2.13"
      </div>
    </div>
    <div class="ins_02">
      <div class="btn_url_01"><a href="http://www.rubylife.jp/railsinstall/" target="_blank">http://www.rubylife.jp/railsinstall/</a>
      </div>
      <div class="com_02">
        gem install rails -v "3.2.13"
      </div>
    </div>
    <img src="/assets/report02/il_06.gif" alt="" width="960" height="166">
    <h3 class="contact_box">
      <div class="btn_form"><a href="#">無料ご相談フォーム</a></div>
      <div class="btn_about"><a href="#">侍エンジニア塾詳細についてはこちら</a></div>
      <div class="btn_eminar"><a href="#">侍エンジニア塾セミナーのご案内</a></div>
    </h3>
    <h2><img src="/assets/report02/img_h_02.gif" alt="Webフレームワーク基礎" width="960" height="52"></h2>
    <img src="/assets/report02/il_07.gif" alt="Ruby on Rails" width="960" height="601">
    <div class="ins_03">
      <div class="btn_url_02"><a href="http://dotinstall.com/lessons/basic_mysql_v2" target="_blank">http://dotinstall.com/lessons/basic_mysql_v2</a>
      </div>
    </div>
    <h2><img src="/assets/report02/img_h_03.gif" alt="Webフレームワーク応用" width="960" height="52"></h2>
    <img src="/assets/report02/il_09.gif" alt="" width="960" height="531">
    <img src="/assets/report02/il_10.gif" alt="" width="960" height="425">
    <img src="/assets/report02/il_11.gif" alt="うまくいかないときは？" width="960" height="722">
    <img src="/assets/report02/il_12.gif" alt="もし相談できるプログラマーがいれば" width="960" height="357">
    <h3 class="contact_box">
      <div class="btn_form"><a href="#">無料ご相談フォーム</a></div>
      <div class="btn_about"><a href="#">侍エンジニア塾詳細についてはこちら</a></div>
      <div class="btn_eminar"><a href="#">侍エンジニア塾セミナーのご案内</a></div>
    </h3>
    <h2><img src="/assets/report02/img_h_04.gif" alt="Webサービス開発" width="960" height="52"></h2>
    <img src="/assets/report02/il_13.gif" alt="" width="960" height="285">
    <img src="/assets/report02/il_14.gif" alt="WEBサービスの作り方の４つのSTEP" width="960" height="533">
    <div class="ins_04">
      <div class="btn_url_03"><a href="http://matome.naver.jp/odai/2131171854325173701" target="_blank">http://matome.naver.jp/odai/2131171854325173701</a>
      </div>
    </div>
    <img src="/assets/report02/il_16.gif" alt="" width="960" height="730">
    <img src="/assets/report02/il_17.gif" alt="WEBサービスの作り方" width="960" height="403">
    <img src="/assets/report02/il_18.gif" alt="" width="960" height="800">
    <img src="/assets/report02/il_19.gif" alt="" width="960" height="817">
    <img src="/assets/report02/il_20.gif" alt="" width="960" height="584">
    <img src="/assets/report02/il_21.gif" alt="" width="960" height="742">
    <img src="/assets/report02/il_22.gif" alt="" width="960" height="549">
    <img src="/assets/report02/il_23.gif" alt="" width="960" height="441">
    <h3 class="contact_box">
      <div class="btn_form"><a href="#">無料ご相談フォーム</a></div>
      <div class="btn_about"><a href="#">侍エンジニア塾詳細についてはこちら</a></div>
      <div class="btn_eminar"><a href="#">侍エンジニア塾セミナーのご案内</a></div>
    </h3>
    <img src="/assets/report02/il_24.gif" alt="" width="960" height="150">
</div>

<link type="text/css" rel="stylesheet" media="all" href="/assets/engineer_lp02.css"></link>