　
<div class="lp_wrap">
    <img src="/assets/report01/il_01_header.gif" alt="二週間でプログラミング基礎をマスターする方法" width="960" height="125">
  <div class="wrap_01">
    <img src="/assets/report01/il_01_01.gif" alt="" width="960" height="652">
    <h2>
      <img src="/assets/report01/img_h_01.gif" alt="サービスが作れるということ" width="960" height="53">
    </h2>
    <img src="/assets/report01/il_01_02.gif" alt="" width="960" height="369">
    <img src="/assets/report01/il_01_03.gif" alt="" width="960" height="640">
    <img src="/assets/report01/il_01_04.gif" alt="" width="960" height="613">
    <h2>
      <img src="/assets/report01/img_h_02.gif" alt="Webサービス開発に使われている技術" width="960" height="53">
    </h2>
    <img src="/assets/report01/il_01_05.gif" alt="" width="960" height="844">
    <h2>
      <img src="/assets/report01/img_h_03.gif" alt="無駄のない学習方法について" width="960" height="53">
    </h2>
    <img src="/assets/report01/il_01_06.gif" alt="" width="960" height="613">
    <h2>
      <img src="/assets/report01/img_h_04.gif" alt="プログラミング基礎の学習環境を整える" width="960" height="53">
    </h2>
    <div class="ins_01">
        <div class="btn_url_01">
          <a href="http://www.sejuku.net/pages/ruby_install_mac" target="_blank">http://www.sejuku.net/pages/ruby_install_mac</a>
        </div>
        <div class="btn_url_02">
          <a href="http://www.shck3.com/?p=409" target="_blank">http://www.shck3.com/?p=409</a>
        </div>
    </div>
    <div class="ins_02">
        <div class="btn_url_03">
          <a href="http://www.sejuku.net/pages/ruby_install_mac" target="_blank">http://www.sejuku.net/pages/ruby_install_mac</a>
        </div>
    </div>
    <h3 class="contact_box">
      <div class="btn_form"><a href="http://goo.gl/TeH1ss">無料ご相談フォーム</a></div>
      <div class="btn_about"><a href="http://www.sejuku.net/">侍エンジニア塾詳細についてはこちら</a></div>
      <div class="btn_eminar"><a href="http://www.street-academy.com/myclass/561">侍エンジニア塾セミナーのご案内</a></div>
    </h3>
  </div>
  <div class="wrap_02">
    <h2>
      <img src="/assets/report01/img_h_05.gif" alt="ラミング基礎の習得方法" width="960" height="53">
    </h2>
    <div class="howto_01">
      <div class="btn_url_04">
        <a href="http://dotinstall.com/" target="_blank">http://dotinstall.com/</a>
      </div>
    </div>
    <img src="/assets/report01/il_02_02.gif" alt="" width="960" height="411">
    <div class="howto_02">
        <div class="btn_url_05">
          <a href="http://dotinstall.com/lessons/basic_html_v2" target="_blank">http://dotinstall.com/lessons/basic_html_v2</a>
        </div>
        <div class="btn_url_06">
          <a href="http://www.amazon.co.jp/dp/4844329669/" target="_blank">http://www.amazon.co.jp/dp/4844329669/</a>
        </div>
        <div class="btn_url_07">
          <a href="http://dotinstall.com/lessons/basic_css_v2" target="_blank">http://dotinstall.com/lessons/basic_css_v2</a>
        </div>
    </div>
    <div class="howto_03">
        <div class="btn_url_08">
          <a href="http://dotinstall.com/lessons/basic_javascript_v2" target="_blank">http://dotinstall.com/lessons/basic_javascript_v2</a>
        </div>
        <div class="btn_url_09">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4839941874" target="_blank">http://www.amazon.co.jp/exec/obidos/ASIN/4839941874</a>
        </div>
    </div>
    <div class="howto_04">
        <div class="btn_url_10">
          <a href="http://dotinstall.com/lessons/basic_ruby_v2" target="_blank">http://dotinstall.com/lessons/basic_ruby_v22</a>
        </div>
        <div class="btn_url_11">
          <a href="http://www.amazon.co.jp/dp/4797372273" target="_blank">http://www.amazon.co.jp/dp/4797372273</a>
        </div>
    </div>
    <img src="/assets/report01/il_02_06.gif" alt="" width="960" height="598">
    <h2>
      <img src="/assets/report01/img_h_06.gif" alt="何かわからないことがあったら" width="960" height="53">
    </h2>
    <img src="/assets/report01/il_02_07.gif" alt="" width="960" height="569">
    <h3 class="contact_box">
      <div class="btn_form"><a href="http://goo.gl/TeH1ss">無料ご相談フォーム</a></div>
      <div class="btn_about"><a href="http://www.sejuku.net/">侍エンジニア塾詳細についてはこちら</a></div>
      <div class="btn_eminar"><a href="http://www.street-academy.com/myclass/561">侍エンジニア塾セミナーのご案内</a></div>
    </h3>
    <img src="/assets/report01/il_02_08.gif" alt="" width="960" height="151">
  </div>
</div>

<link type="text/css" rel="stylesheet" media="all" href="/assets/engineer_lp.css"></link>