
<div class="section clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">二週間でプログラマーとして飯を食う方法</h1>
      <h3 class="twelve columns section-subtitle"></h3>
    </div>
  </div>
  <div class="row page-container">
    Webサービスを自力で作れるようになったら、たくさんの仕事が貴方を待っています。<br/>
    プログラミングを仕事に出来れば、成長しながらお金がもらえます。<br/>
    しかも、一人で学習するより、実際に仕事をしながら学習したほうが成長が早いですし、人脈も広がります。<br/>
    <br/>
    この章では、どうやったら仕事が獲得できるかを解説します。<br/>
    <br/>
    仕事と一言にいっても、以下のように種類は多岐にわたります。<br/>
    ①正社員<br/>
    ②契約社員<br/>
    ③業務委託<br/>
    ④アルバイト<br/>
    ⑤インターン<br/>
    のように、自分の希望に合わせた働き方が出来ます。<br/>
    <br/>
    仕事をさがす方法は以下のパターンがあります。<br/>
    ①求人サイト<br/>
    ②インターン紹介サイト<br/>
    ③教務課等に紹介してもらう（学生）<br/>
    ④知人の紹介<br/>
    ⑤ソーシャル求人サービス『Wantedly』<br/>
    ⑥クラウドソーシングサービス『ランサーズ』『クラウドワークス』<br/>
    <br/>
    ■ソーシャル求人サービス『Wantedly』とは<br/>
    <a href="https://www.wantedly.com/" target="_blank">https://www.wantedly.com/</a><br/>
    このサービスは無料型の求人サービスで特にスタートアップベンチャーなどが多く登録しています。<br/>
    求める人材のレベルも高くないので、初心者プログラマーでも仕事を見つけやすいです。<br/>
    また、サービスや理念への共感ベースで選べるので、自分が関わりたい仕事に関わることができます。<br/>
    <br/>
    ■クラウドソーシングとは？<br/>
    <a href="http://crowdworks.jp/" target="_blank">http://crowdworks.jp/</a><br/>
    <a href="http://www.lancers.jp/" target="_blank">http://www.lancers.jp/</a><br/>
    クラウドソーシングとは、案件ベースで依頼者と開発者をつなぐサービスです。<br/>
    案件の内容と、報酬内容、契約内容などをよんで、気に入ったものに立候補します。<br/>
    その後、偉大者が立候補した開発者の中から気に入った方を選び、契約を行う仕組みです。<br/>
    <br/>
    どの仕事にしても経験を積み、信用を積めば、必ずより良い仕事が待っています。<br/>
    最初はあまり条件にこだわらず、仕事内容や、人で選びましょう。<br/>
  </div>
</div>

<div class="section clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">侍エンジニア塾式仕事獲得術</h1>
      <h3 class="twelve columns section-subtitle"></h3>
    </div>
  </div>
  <div class="row page-container">
    前章で数多くの仕事を獲得する方法を紹介いたしました。<br/>
    その中でも特にオススメなのはWantedlyです。<br/>
    <br/>
    Wantedlyの特徴として、<br/>
    ①無料求人であること<br/>
    ②そのためスタートアップが多いこと<br/>
    ③求められる技術レベルが高くないこと<br/>
    を上げました。<br/>
    <br/>
    メリットとして<br/>
    ①初心者でも仕事を見つけやすい<br/>
    ②理念やサービスへの共感ベースで選べる<br/>
    ③ベンチャーなので条件や働き方がフレキシブル<br/>
    という点があります。<br/>
    <br/>
    オススメの求職活動の仕方としては<br/>
    ①wantedlyできになる会社をリストアップ<br/>
    ②その中から自分の条件に合う数社を選定<br/>
    ③面接をして、相手のニーズを把握し、自分を売り込む<br/>
    　その際に、自分で作ったWEBサービス等、『技術力の証拠』を持って行きましょう。<br/>
    ④安い給料、アルバイトでもいいのでとにかく働かせてもらって経験を積む<br/>
    ⑤その経験と、向上した技術力をもとに、給料を再交渉したり、他の会社を探したり<br/>
    この方法で、数社のスタートアップを渡り歩き修行すれば、技術者としての実力は格段にアップします。<br/>
    <br/>
    ポイントは正社員になるのではなく、業務委託契約にすることです。<br/>
    つまりフリーランスです。<br/>
    <br/>
    なぜ正社員ではないのでしょうか？<br/>
    <br/>
    ほとんどのITスタートアップでは正社員として雇う余裕がありません。<br/>
    また、正社員としてちゃんと雇用できる会社は技術力を求めるので、<br/>
    駆け出しのエンジニアは向いていません。<br/>
    <br/>
    エンジニアは技術力と、営業力が上がれば、収入が上がります。<br/>
    なので、ひとつの会社にいるのもいいですが、フリーランスとして複数の会社の案件をこなすと<br/>
    技術力と営業力がのび、時給5000円以上、年収1000万も普通に可能になっていきます。<br/>
    <br/>
    あなたもwantedlyやクラウドソーシング系のサービスを活用して<br/>
    フリーランスとして武者修行してみませんか？<br/>
  </div>
</div>

<div class="section clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">何かわからないことがあったら</h1>
      <h3 class="twelve columns section-subtitle"></h3>
    </div>
  </div>
  <div class="row page-container">
    ここまで駆け足で仕事獲得までお教えしてきました。<br/>
    言葉足らずでわから無いところも多いでしょう。<br/>
    ということで、聞きたいことがある方は専用の<a href="/questions" target="_blank">Q&Aフォーム</a>にメッセージを下さい。<br/>
    このレポートに関することやプログラミングに関することで聞きたいことがあれば『何でも』答えさせていただきます。<br/>
    また、セミナーや無料相談なんかもやっているのでぜひご利用ください。<br/>
    『とにかく早くマスターしたい』『一人で学ぶ自信がない』という方は、マンツーマンレッスンがお勧めです。<br/>
    <a href="/pages/lesson" target="_blank">こちらから</a>受講無料相談を受け付けております。</br>
    <br/>
    少しでも早く、貴方にプログラミングを習得していただいて、Webサービスを作る楽しさを感じて欲しいと願っております。<br/>
    最後までお読み頂いてありがとうございます。<br/>
    またQ&Aやセミナー、無料相談などでお会いできることを楽しみにしております^^<br/>
  </div>
</div>
