<div class="section clearfix">
	<div class="contain-to-grid clearfix">
		<div class="twelve columns section-heading">
			<h1 class="twelve columns section-title">二週間でプログラマーとして飯を食う方法</h1>
			<h3 class="twelve columns section-subtitle"></h3>
		</div>
	</div>
	<div class="row page-container">
		Webサービスを自力で作れるようになったら、たくさんの仕事が貴方を待っています。<br/>
		プログラミングを仕事に出来れば、成長しながらお金がもらえます。<br/>
		しかも、一人で学習するより、実際に仕事をしながら学習したほうが成長が早いですし、人脈も広がります。<br/>
		<br/>
		この章では、どうやったら仕事が獲得できるかを解説します。<br/>
		<br/>
		仕事と一言にいっても、以下のように種類は多岐にわたります。<br/>
		①正社員<br/>
		②契約社員<br/>
		③業務委託<br/>
		④アルバイト<br/>
		⑤インターン<br/>
		のように、自分の希望に合わせた働き方が出来ます。<br/>
		<br/>
		仕事をさがす方法は以下のパターンがあります。<br/>
		①求人サイト<br/>
		②インターン紹介サイト<br/>
		③教務課等に紹介してもらう（学生）<br/>
		④知人の紹介<br/>
		⑤ソーシャル求人サービス『Wantedly』<br/>
		⑥クラウドソーシングサービス『ランサーズ』『クラウドワークス』<br/>
		<br/>
		■ソーシャル求人サービス『Wantedly』とは<br/>
		https://www.wantedly.com/<br/>
		このサービスは無料型の求人サービスで特にスタートアップベンチャーなどが多く登録しています。<br/>
		求める人材のレベルも高くないので、初心者プログラマーでも仕事を見つけやすいです。<br/>
		また、サービスや理念への共感ベースで選べるので、自分が関わりたい仕事に関わることができます。<br/>
		<br/>
		■クラウドソーシングとは？<br/>
		http://crowdworks.jp/<br/>
		http://www.lancers.jp/<br/>
		クラウドソーシングとは、案件ベースで依頼者と開発者をつなぐサービスです。<br/>
		案件の内容と、報酬内容、契約内容などをよんで、気に入ったものに立候補します。<br/>
		その後、偉大者が立候補した開発者の中から気に入った方を選び、契約を行う仕組みです。<br/>
		<br/>
		どの仕事にしても経験を積み、信用を積めば、必ずより良い仕事が待っています。<br/>
		最初はあまり条件にこだわらず、仕事内容や、人で選びましょう。<br/>
	</div>
</div>

<div class="section clearfix">
	<div class="contain-to-grid clearfix">
		<div class="twelve columns section-heading">
			<h1 class="twelve columns section-title">何かわからないことがあったら</h1>
			<h3 class="twelve columns section-subtitle"></h3>
		</div>
	</div>
	<div class="row page-container">
		ここまで駆け足にプログラミング基礎からWebサービス開発、仕事獲得までお教えしてきました。<br/>
		言葉足らずでわから無いところも多いでしょう。<br/>
		ということで、聞きたいことがある方は専用の<a href="https://docs.google.com/forms/d/1J7NRYEFIJIms-0FttWX2qbqi9pd9AOiukFdwtuhA5sc/viewform" target="_blank">こちらのフォーム</a>にメッセージを下さい。<br/>
		このレポートに関することやプログラミングに関することで聞きたいことがあれば『何でも』答えさせていただきます。<br/>
		また、セミナーやマンツーマンレッスン、無料相談なんかもやっているのでぜひご利用ください。<br/>
		<br/>
		少しでも早く、貴方にプログラミングを習得していただいて、Webサービスを作る楽しさを感じて欲しいと願っております。<br/>
		最後までお読み頂いてありがとうございます。<br/>
		またメールやセミナー、無料相談などでお会いできることを楽しみにしております^^<br/>
	</div>
</div>
