<div class="lp_wrap">
  <div class="main-photo"> <!-- backgroud img-->
    <div class="main-photo-font"><!-- textarea -->
      <h2>平井真哉さん</h2>
    </div>
  </div>

  <section>
    <div class="text-flame">
      <h3 class="sub_ti_01"><img src="/assets/interview/sub_ti_s_01.png" alt="「Macを抱いて寝る日もありました」" width="900" heigth="60"></h3>
      <div class="text-flame_01">
        <div class="text">
          <h4>1.平井さんが侍エンジニア塾でエンジニアを目指そうと決めた理由は何ですか。</h4>
          <p>1年半前、大学3年生で就職活動のまっただ中。漠然と就活をしてる中で「自分のやりたいことは何なのか？」と本気で考えるようになり、ツイッターで交流を増やしていた際に木内さんと出会いました。実は木内さんと同い年なんですけど、その時すでにエンジニアとしてフリーで活躍をされていて。お茶をしたときに、迫力ある夢やビジョンをものすごい勢いで語られました。木内さんは小学校の頃からプログラミングを独学で学んでいって、すでにプロフェッショナルになられていました。圧倒されましたね。同時に僕もこういうアツい生き方をしたいと目覚めました。（笑）それから僕も好きな事を仕事に出来ないか？彼のようにフリーのエンジニアになるのも良いなと考え始めたのがきっかけです。</p>
        </div>
        <div class="photo">
          <img src="/assets/interview/interview01_01.jpg" alt="" width="240" height="180" >
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4>2.実際にプログラミング学習を始めた時の、率直な感想を教えてください。</h4>
          <p>初めての方だと難しくて途中であきらめたりといった話も聞きますが、僕も初心者でしたが大変だとはあまり思いませんでした。とにかく作るのが楽しくて、自分が書いたコードがＰＣの中で反映されて、作品、として出来上がるのがすごく楽しくて！それが嬉しくて、もっとつくりたいと思いました。始めたらいつのまにか夢中になっていて、友人との約束や食事を忘れたり、Macを抱いて寝る日もありましたね。（笑）。</p>
        </div>
      </div>

      <div class="text-flame_02">
        <div class="text">
          <h4>3.始めてからの半年間は、どのようにして学習を進めましたか。</h4>
          <p>毎日ひたすら、「なにを作りたいか」をベースに考えて実行するようにしました。 塾での内容と並行して、独学でインターネットで書き方等を調べていき、形に出来るまで専念していました。</p>
        </div>
        <div class="photo">
          <img src="/assets/interview/interview01_02.jpg" alt="" width="240" height="135" >
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4>4.侍エンジニア塾を選んで良かったと思う点をいくつか教えてください。</h4>
          <p>プログラミングを直接ご指導いただけるのはもちろん、同時に木内さんから教えて頂いた 「ロジカルな思考」が、今になってもとても活きています。僕にとって木内さんはメンターであり、ライバルです。同い年ということもあって、いつか追い抜きたい！と思っていましたね。なにより木内さんからプログラミング以上の事を教えてもらった事は非常に大きく、ここまで来るのに必要不可欠でした。</p>
        </div>
      </div>
    </div>



    <div class="text-flame">
      <h3 class="sub_ti_02"><img src="/assets/interview/sub_ti_s_02.png" alt="セブとの出会い" width="900" heigth="60"></h3>
      <div class="text-flame_01">
        <div class="text">
          <h4>5.卒業後は、どのようにしてお仕事を獲得していきましたか。</h4>
          <p>まずは無給でも働く経験を積もうと考えていました。色々と調べるうちに、気になったベンチャー企業に、直接メールを送りました。嬉しいことにトップの方に興味を持っていただいて、1-2ヶ月の間はそこで働いていました。その後は別のiPhone アプリ開発の会社で有給アルバイトとして、好きな時間のシフトでお仕事をしていました。それから2~3ヶ月後に東京にいる知人から、セブ島でエンジニアを探している企業があると聞いたんです。それが今のネクシードという会社です。</p>
        </div>
        <div class="photo">
          <img src="/assets/interview/interview01_03.jpg" alt="" width="240" height="180" >
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4>6.セブ島に行って仕事をすると決断されたのはいつ頃からですか。その時はエンジニアとしてセブ島でお仕事をする予定だったのですか？</h4>
          <p>有給アルバイトを始めた頃、木内さん達とグアムへ旅行に行くことになりました。もともと海外で働く事に興味を持っていましたが、そこで「お互い有能なエンジニアになって、南国の英語圏の国でフリーで活躍しよう」と話したことで、実際に海外で働くイメージが出来たんですね。そして、グアムから帰ってきたタイミングで、ネクシードを紹介して頂きました。無給だけど生活費が出て、IT部門のエンジニアとして立ち上げに関わらせてもらえるという条件だったので、僕にとって非常に魅力的でした。</p>
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4>7.英語はどのようにして習得していきましたか。</h4>
          <p>毎日の生活で絶対に英語に触れますし、一緒に働く現地の方も多いので、コミュニケーションをする中で自然に身に付きました。約２ヶ月目で、会話はほとんど聞き取れるようになり、8ヶ月目で業務の中でもコミュニケーションがとれるようになりました。もともと、英語はそんなに得意ではありませんでしたが、ネクシードが語学学校だったため、毎日素敵なフィリピン人講師と会話をして楽しく英語スキルを伸ばしていました。</p>
        </div>
      </div>

      <div class="text-flame_02">
        <div class="text">
          <h4>8.セブ島ではどのようにしてお仕事を開始、獲得していきましたか。</h4>
          <p>セブに来た当初、社長に「ここで今までにないサービスをひとつ作れ」と指示がありました。そこで僕は、ウェブ系の企画を１日１つ作り、毎回ショートプレゼンをしていました。いつ日本に返されるかわかりませんでしたので、必死でしたね。（笑）その中で通った企画が「エンジニア留学」という、「セブで語学を学びながらエンジニアになろう！」というプログラムです。そこから派生して親会社geechsとの共同企画、「ギークスキャンプ」も立ち上がり、僕が運営と講師を任させて頂くことになったんですね。</p>
        </div>
        <div class="photo">
          <img src="/assets/interview/interview01_04.jpg" alt="" width="240" height="180" >
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4> 9.大変だったことを教えてください。</h4>
          <p>大変だったことは・・・楽観主義なのであまり、思いつきません（笑）
          無給のインターンだった期間は、日本から遠隔で仕事を受注して賄ったりもしました。</p>
        </div>
      </div>
    </div>



    <div class="text-flame">
      <h3 class="sub_ti_03"><img src="/assets/interview/sub_ti_s_03.png" alt="新しいワークスタイル" width="900" heigth="60"></h3>
      <div class="text-flame_01">
        <div class="text">
          <h4>10.セブ島でお仕事をするという魅力を教えてください。</h4>
          <p>経験とコミュニケーションが爆発的に増えて行くところです。あと、日本と比べフィリピンのような東南アジアは（環境の部分）で全然足りてません。それを知り問題意識を持てたことも良かったと思います。あとは、フィリピンでは楽観的な人が多かったり、急がなかったり、ゆとりのある所も開放感があり仕事のストレスはあまり感じませんでした。</p>
        </div>
        <div class="photo">
          <img src="/assets/interview/interview01_05.jpg" alt="" width="240" height="135" >
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4>11.普段はどのようなスケジュールで生活されていますか。平井さんの一日のタイムスケジュールを教えて下さい。</h4>
          <p>
            <img src="/assets/interview/time_sc.gif" alt="" width="850" height="144" >
          </p>
        </div>
      </div>

      <div class="text-flame_02">
        <div class="text">
          <h4>12.仕事以外の時間や、休日はどのようにして過ごしていましたか？</h4>
          <p>無人島のお気に入りのビーチに遊びに行ったりします。ビーチで思いっきり泳いで、ご飯を食べて、飽きたらパソパソ（PC）する。（笑）マリンスポーツもしますよ。例えばスキューバ、水上スキー、パラセイリングやバナナボートなんかもします。雨の日は、静かなカフェに込もって作業をしたりします。雨なんて振らないですけどね。</p>
        </div>
        <div class="photo">
          <img src="/assets/interview/interview01_06.jpg" alt="" width="240" height="180" >
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4>13.セブ島でお仕事をやってて良かった、感動した！と思うエピソードをなにかひとつ教えてください。</h4>
          <p>０１ベースで僕の企画で立った事業で、生徒さんが育って卒業をしてくれる。それだけで本当に感動です。卒業式は、英語で別れの言葉を言ってくれる生徒さんもいました。「しんやさんのようになりたい」と言ってくれた事はとても感激でした。</p>
        </div>
      </div>
    </div>



    <div class="text-flame mb-40">
      <h3 class="sub_ti_04"><img src="/assets/interview/sub_ti_s_04.png" alt="「できるかできないかじゃなく、やるかやらないか。」" width="900" heigth="60"></h3>
      <div class="text-flame_01">
        <div class="text">
          <h4>14.エンジニアの講師としてお仕事をする際気をつけていることは何ですか。</h4>
          <p>僕が木内さんに教えてもらったように、コードを書くのを教えるだけでなく、自分で答えを見つけてもらうように、生徒さんに自立してもらう事を願いながら教えるようにしています。エンジニアとしての思考回路を身につけてもらうような指導を心がけています。</p>
        </div>
        <div class="photo">
          <img src="/assets/interview/interview01_07.jpg" alt="" width="240" height="135" >
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4>15.子供の頃の夢と今のお仕事でリンクしている事は何ですか。</h4>
          <p>実は子供の頃の夢は特にありませんでした。毎日、どう遊ぶかだけ考えてましたね（笑）スポーツ少年で、小中はサッカー部、高大はバスケ部に所属していました。昔は夢は特にありませんでしたが、ものづくりが好きだったり、誰かに求められたいという欲求は強かったです。</p>
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4>16.平井さんのこれからの目標と夢を教えてください！</h4>
          <p>僕の夢は、どこにもないITベンチャーを作る事です！例えば、IT×宇宙事業だったりしたら、絶対面白いですよね！小栗旬さん主演のドラマ「リッチマン　プアウーマン」に出てくるベンチャー企業、ネクストイノベーションのような大きな会社を絶対に作ります。小栗旬さんは大ファンなんですよ（笑）あと、映画「アイアンマン」に出てくる３Dの浮かぶ図面とか、作りたいですね〜。（笑）</p>
        </div>
      </div>

      <div class="text-flame_02">
        <div class="text">
          <h4>17.自己実現について、ご自身と重ねて思うことを教えてください。</h4>
          <p>僕はスピードを重視していたので、なるべく早くPDCA（Plan, Do, Check, Act）をまわし行動し続けることをしていました。スキル、コミュニケーション力、チームマネジメントが少しずつ身に付くなかで自分自身のやりたい事も実現していけたのだと思っています。</p>
        </div>
        <div class="photo">
          <img src="/assets/interview/interview01_08.jpg" alt="" width="240" height="135" >
        </div>
      </div>

      <div class="text-flame_00">
        <div class="text">
          <h4>18.侍エンジニア塾で検討をされている方へ平井さんからメッセージをお願いします！</h4>
          <p>プログラミングを直接ご指導いただけるのはもちろん、同時に木内さんから教えて頂いた 「ロジカルな思考」が、今になってもとても活きています。僕にとって木内さんはメンターであり、ライバルです。同い年ということもあって、いつか追い抜きたい！と思っていましたね。なにより木内さんからプログラミング以上の事を教えてもらった事は非常に大きく、ここまで来るのに必要不可欠でした。</p>
        </div>
      </div>
      
      <div class="text-flame_00">
        <div class="text">
          <h4>19.最後に、平井さんの今後の取り組みを教えてください！</h4>
          <p class="last_p">侍エンジニア塾を含め、IT教育を通して、僕自身と同じように全くのゼロからでもプログラミングスキルを身につけ、「自分らしい働き方」ができる人を増やしていきたいと考えています。</p>
          <p class="last_p" style="background:none;">今後はセブ島での事業運営と講師経験を基に、侍エンジニア塾でインストラクターとして関わりながら、僕が学んだエンジニアとしての「自分らしい働き方」に必要なノウハウとスキルを一人でも多くの方に伝えていこうと思っています！</p>
        </div>
      </div>
      
      <div class="counseling">
        <div class="btn_counseling">
          <a href="https://docs.google.com/forms/d/1edyj68ZBlxaWjdKgy0gF_MDKma1lOBLcXq147ctZsWc/viewform" target="_blank"><img src="/assets/interview/btn_counseling.png" alt="" width="344" height="77" ></a>
        </div>
      </div>
      
    </div>
  </section>
  <footer>
    <img src="/assets/report/footer.png" alt="">
  </footer>
</div>