<div id="method_wrap">
<!--   <header>
    <h1>侍エンジニア塾の「独学メソッド」を無料公開！</h1>
    <p>
      <img src="/assets/report/ti_01.jpg" width="960" height="455" alt="3ヶ月でプログラミングをマスターし、WEBサービスを作り、フリーランスエンジニアとして自由に働く方法">
    </p>
  </header> -->
  <div class="method_main">
    <img src="/assets/report/img_01.gif" width="960" height="242" alt="書籍を買ってプログラミング学習を始めたけど。プログラミングの勉強方法をたくさんググったけど。">
    <img src="/assets/report/img_02.gif" width="960" height="235" alt="挫折率が10分の1、学習時間が3分の1になります「独学メソッド」を無料で提供することにしました。">
    <img src="/assets/report/img_03.gif" width="960" height="388" alt="挫折率が10分の1、学習時間が3分の1になります。">
    <img src="/assets/report/img_04.gif" width="960" height="253" alt="3ヶ月でプログラミングをマスターしWEBサービスを作って自由に働く方法">
    <img src="/assets/report/img_05.gif" width="960" height="215" alt="プログラミング学習で知っておきたい事">
    <img src="/assets/report/img_06.gif" width="960" height="125" alt="侍エンジニア塾の塾生が実際に結果を出した、エンジニアになるための手法を具体的に解説しています。">
    <img src="/assets/report/img_07.gif" width="960" height="406" alt="この「独学メソッド」は数十人ものプログラミング学習を指導して行く過程で、研究・独自開発されたメソッドになっています。">
    <img src="/assets/report/img_08.gif" width="960" height="262" alt="こちらのフォームにて登録された方には特典">
    <img src="/assets/report/img_09.gif" width="960" height="287" alt="以下のフォームより「独学メソッド」を手に入れてください。">
  </div>
  <div class="method_form">
    <div class="form_frame">
      <form name="asumeru_form" method="post" action="https://1lejend.com/stepmail/kd.php?no=EvHSJqOylu">
        <fieldset>
          <dl class="input_box pkg">
            <dt>
              <label for="touroku_name1" ><span class="require">※</span>氏名</label>
            </dt>
            <dd>
              <label for="touroku_name1">姓:</label>
              <input type="text" name="touroku_name1" id="touroku_name1" value="" class="inputText inputTextShortest dd_01">
            </dd>
            <dd>
              <label for="touroku_name2">名:</label>
              <input type="text" name="touroku_name2" id="touroku_name2" value="" class="inputText inputTextShortest dd_01">
            </dd>
          </dl>
          <dl class="input_box pkg">
            <dt>
              <label for="touroku_mail"><span class="require">※</span>メールアドレス</label>
            </dt>
            <dd> 
              <input type="email" name="touroku_mail" id="touroku_mail" istyle="3" mode="alphabet" value="" class="inputText inputTextLong dd_02">
            </dd>
          </dl>
          <p class="center-text">
            <input type="hidden" name="no" value="EvHSJqOylu">
            <input type="hidden" name="action" value="kakunin">
            <input type="submit" name="submit" value="確定" class="formBtn">
          </p>
        </fieldset>
      </form>
    </div>
  </div>
  <footer>
    <img src="/assets/report/footer.png" alt="">
  </footer>
</div>