<div id="slider" class="sl-slider-wrapper">
  <div class="sl-slider">
    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-1"></div>
        <h2>A bene placito.</h2>
        <blockquote><p>You have just dined, and however scrupulously the slaughterhouse is concealed in the graceful distance of miles, there is complicity.</p><cite>Ralph Waldo Emerson</cite></blockquote>
      </div>
    </div>

    <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-2"></div>
        <h2>Regula aurea.</h2>
        <blockquote><p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p><cite>Albert Schweitzer</cite></blockquote>
      </div>
    </div>

    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-3"></div>
        <h2>Dum spiro, spero.</h2>
        <blockquote><p>Thousands of people who say they 'love' animals sit down once or twice a day to enjoy the flesh of creatures who have been utterly deprived of everything that could make their lives worth living and who endured the awful suffering and the terror of the abattoirs.</p><cite>Dame Jane Morris Goodall</cite></blockquote>
      </div>
    </div>

    <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-4"></div>
        <h2>Donna nobis pacem.</h2>
        <blockquote><p>The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p><cite>Michael Klaper M.D.</cite></blockquote>
      </div>
    </div>

    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-5"></div>
        <h2>Acta Non Verba.</h2>
        <blockquote><p>I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.</p><cite>Margi Clarke</cite></blockquote>
      </div>
    </div>
  </div><!-- /sl-slider -->
  <nav id="nav-arrows" class="nav-arrows">
    <span class="nav-arrow-prev">Previous</span>
    <span class="nav-arrow-next">Next</span>
  </nav>
  <nav id="nav-dots" class="nav-dots">
    <span class="nav-dot-current"></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </nav>
</div><!-- /slider-wrapper -->

<div class="navbar second">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>

<div id="about" class="clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">About us</h1>
      <h3 class="twelve columns section-subtitle">welcome to samurai enginer juku</h3>
    </div>
  </div>
  <div class="row page-container">
    <p>Amet magnis magnis augue. Aliquet mid tincidunt porta? Ultricies? Pellentesque facilisis vut nec dignissim duis. Magna lectus? Dolor! Montes placerat penatibus tempor, tincidunt parturient ac nec? Cras diam pulvinar! Elementum pid? Pellentesque, dignissim eu augue urna, natoque rhoncus ut ultrices magna ac sit augue placerat a et sociis, augue rhoncus, mus nascetur odio augue purus!</p>
    <p>Duis. Tortor ultrices natoque turpis platea aenean, duis, scelerisque, sagittis? Eros, est phasellus in cursus pellentesque in mid parturient tincidunt montes sed porta, cum ac enim placerat ridiculus magna ridiculus dignissim mid, tincidunt cras a! Scelerisque scelerisque, ac, tempor duis. Magna, mid rhoncus est nunc arcu et, adipiscing quis rhoncus, enim penatibus, magna arcu magna, cum augue! Ridiculus duis sit amet! Nisi elementum auctor, sagittis.</p>
    <p>Integer est placerat auctor nunc! Natoque porttitor augue etiam, elementum aliquet, turpis auctor, arcu, ridiculus? Sit rhoncus! Ut et tempor sit aliquam arcu, phasellus quis lundium facilisis dapibus rhoncus et porttitor auctor sed scelerisque in ultrices odio tincidunt, sit tortor urna integer massa etiam augue ac eu? Mauris elementum elit ut pulvinar scelerisque. Hac tristique. Auctor pid ridiculus ultricies mattis, purus placerat dapibus duis mid tristique porta? Platea sed porta mid, facilisis platea, pellentesque nascetur nunc integer, eros habitasse, phasellus amet in? Elit ac massa et?</p>
    <p>Turpis habitasse ut pellentesque nascetur urna, ac nunc, arcu, odio porta mid porta elit, lectus, elit enim? Tincidunt platea, a cras dictumst sed aliquet, tincidunt lorem massa, integer sociis sit lacus. Ac dignissim.</p>

  </div>
</div>

<div id="service" class="clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">Service</h1>
      <h3 class="twelve columns section-subtitle">our service</h3>
    </div>
  </div>
  <div class="row service-container clearfix">
    <div class="twelve columns services-header hide-for-960"></div>
    <div class="four columns service-section">
      <div class="twelve columns service-icon">
        <img width="50" height="50" src="http://avathemes.com/WP/Hexic/wp-content/uploads/2013/03/16.png" class="attachment-post-thumbnail" alt="16">                            </div>
      <h2 class="twelve columns service-section-title">Infomation</h2>
      <p class="twelve columns service-section-content">Placerat, natoque quis rhoncus! Enim proin scelerisque turpis, elementum nec porttitor elementum, lorem…</p>
      <span class="twelve columns service-section-read-more"><a href="http://avathemes.com/WP/Hexic/strategy/">Read More</a></span>
    </div>
    <div class="four columns service-section">
      <div class="twelve columns service-icon">
        <img width="50" height="50" src="http://avathemes.com/WP/Hexic/wp-content/uploads/2013/03/371.png" class="attachment-post-thumbnail" alt="37">                            </div>
      <h2 class="twelve columns service-section-title">Seminar</h2>
      <p class="twelve columns service-section-content">Placerat, natoque quis rhoncus! Enim proin scelerisque turpis, elementum nec porttitor elementum, lorem…</p>
      <span class="twelve columns service-section-read-more"><a href="http://avathemes.com/WP/Hexic/analytics/">Read More</a></span>
    </div>
    <div class="four columns service-section">
      <div class="twelve columns service-icon">
        <img width="50" height="50" src="http://avathemes.com/WP/Hexic/wp-content/uploads/2013/03/38.png" class="attachment-post-thumbnail" alt="38">                            </div>
      <h2 class="twelve columns service-section-title">Lesson</h2>
      <p class="twelve columns service-section-content">Placerat, natoque quis rhoncus! Enim proin scelerisque turpis, elementum nec porttitor elementum, lorem…</p>
      <span class="twelve columns service-section-read-more"><a href="http://avathemes.com/WP/Hexic/design/">Read More</a></span>
    </div>
  </div>
</div>

<div id="contents" class="clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">Contents</h1>
      <h3 class="twelve columns section-subtitle">web contents</h3>
    </div>
  </div>
  <div class="row blog-two-container">
    <div class="four columns blog-two-section mobile-four" style="background:url(http://avathemes.com/WP/Hexic/wp-content/uploads/2013/03/Hexic-Multipurpose-One-Page-Responsive-WordPress-Theme-Portfolio-41-326x240.jpg) repeat-x center">
      <div class="blog-two-overlay">
        <h2 class="twelve columns blog-two-section-title"><a href="http://avathemes.com/WP/Hexic/hexic-is-an-amazing-theme/">Hexic Is An Amazing Theme</a></h2>
        <span class="twelve columns blog-two-section-read-more"><a href="http://avathemes.com/WP/Hexic/hexic-is-an-amazing-theme/">Read More</a></span>
      </div>
    </div>
    <div class="four columns blog-two-section mobile-four" style="background:url(http://avathemes.com/WP/Hexic/wp-content/uploads/2013/03/hexic-9-326x240.jpg) repeat-x center">
      <div class="blog-two-overlay">
        <h2 class="twelve columns blog-two-section-title"><a href="http://avathemes.com/WP/Hexic/this-is-our-second-blog-post/">This Is Our Second Blog Post</a></h2>
        <span class="twelve columns blog-two-section-read-more"><a href="http://avathemes.com/WP/Hexic/this-is-our-second-blog-post/">Read More</a></span>
      </div>
    </div>
    <div class="four columns blog-two-section mobile-four" style="background:url(http://avathemes.com/WP/Hexic/wp-content/uploads/2013/03/Hexic-Multipurpose-One-Page-Responsive-WordPress-Theme-Portfolio-15-326x240.jpg) repeat-x center">
      <div class="blog-two-overlay">
        <h2 class="twelve columns blog-two-section-title"><a href="http://avathemes.com/WP/Hexic/welcome-to-our-website/">Welcome To Our New Website</a></h2>
        <span class="twelve columns blog-two-section-read-more"><a href="http://avathemes.com/WP/Hexic/welcome-to-our-website/">Read More</a></span>
      </div>
    </div>

  </div>
</div>
