<div id="slider" class="sl-slider-wrapper">
  <div class="sl-slider">
    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-1"></div>
        <h2>A bene placito.</h2>
        <blockquote><p>You have just dined, and however scrupulously the slaughterhouse is concealed in the graceful distance of miles, there is complicity.</p><cite>Ralph Waldo Emerson</cite></blockquote>
      </div>
    </div>

    <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-2"></div>
        <h2>Regula aurea.</h2>
        <blockquote><p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p><cite>Albert Schweitzer</cite></blockquote>
      </div>
    </div>

    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-3"></div>
        <h2>Dum spiro, spero.</h2>
        <blockquote><p>Thousands of people who say they 'love' animals sit down once or twice a day to enjoy the flesh of creatures who have been utterly deprived of everything that could make their lives worth living and who endured the awful suffering and the terror of the abattoirs.</p><cite>Dame Jane Morris Goodall</cite></blockquote>
      </div>
    </div>

    <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-4"></div>
        <h2>Donna nobis pacem.</h2>
        <blockquote><p>The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p><cite>Michael Klaper M.D.</cite></blockquote>
      </div>
    </div>

    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-5"></div>
        <h2>Acta Non Verba.</h2>
        <blockquote><p>I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.</p><cite>Margi Clarke</cite></blockquote>
      </div>
    </div>
  </div><!-- /sl-slider -->
  <nav id="nav-arrows" class="nav-arrows">
    <span class="nav-arrow-prev">Previous</span>
    <span class="nav-arrow-next">Next</span>
  </nav>
  <nav id="nav-dots" class="nav-dots">
    <span class="nav-dot-current"></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </nav>
</div><!-- /slider-wrapper -->

<div class="navbar second">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>

<div id="about" class="clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">About Us</h1>
      <h3 class="twelve columns section-subtitle">read more about us</h3>
    </div>
  </div>
  <div class="about-container clearfix">
    <div class="twelve columns services-header hide-for-960"></div>
    <div class="four columns about-section">
      <div class="twelve columns about-icon">
        <img width="50" height="50" src="http://avathemes.com/WP/Hexic/wp-content/uploads/2013/03/16.png" class="attachment-post-thumbnail" alt="16">                            </div>
      <h2 class="twelve columns about-section-title">Infomation</h2>
      <p class="twelve columns about-section-content">Placerat, natoque quis rhoncus! Enim proin scelerisque turpis, elementum nec porttitor elementum, lorem…</p>
      <span class="twelve columns about-section-read-more"><a href="http://avathemes.com/WP/Hexic/strategy/">Read More</a></span>
    </div>
    <div class="four columns about-section">
      <div class="twelve columns about-icon">
        <img width="50" height="50" src="http://avathemes.com/WP/Hexic/wp-content/uploads/2013/03/371.png" class="attachment-post-thumbnail" alt="37">                            </div>
      <h2 class="twelve columns about-section-title">Seminar</h2>
      <p class="twelve columns about-section-content">Placerat, natoque quis rhoncus! Enim proin scelerisque turpis, elementum nec porttitor elementum, lorem…</p>
      <span class="twelve columns about-section-read-more"><a href="http://avathemes.com/WP/Hexic/analytics/">Read More</a></span>
    </div>
    <div class="four columns about-section">
      <div class="twelve columns about-icon">
        <img width="50" height="50" src="http://avathemes.com/WP/Hexic/wp-content/uploads/2013/03/38.png" class="attachment-post-thumbnail" alt="38">                            </div>
      <h2 class="twelve columns about-section-title">Lesson</h2>
      <p class="twelve columns about-section-content">Placerat, natoque quis rhoncus! Enim proin scelerisque turpis, elementum nec porttitor elementum, lorem…</p>
      <span class="twelve columns about-section-read-more"><a href="http://avathemes.com/WP/Hexic/design/">Read More</a></span>
    </div>
  </div>
</div>
