<div id="slider" class="sl-slider-wrapper">
  <div class="sl-slider">
    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
      <div class="sl-slide-inner">
        <div class="bg-img bg-img-1"></div>
        <h2>爆速で学びたいなら</h2>
        <blockquote><p>『誰でも3ヶ月でWEBエンジニアになれる』<br/>超効果的学習方法を無料公開！<br/>WEBプログラミングを学ぶなら侍エンジニア塾</p><cite>Samurai Enginer Juku</cite></blockquote>
      </div>
    </div>
  </div><!-- /sl-slider -->
  <nav id="nav-arrows" class="nav-arrows">
    <span class="nav-arrow-prev">Previous</span>
    <span class="nav-arrow-next">Next</span>
  </nav>
  <nav id="nav-dots" class="nav-dots">
    <span class="nav-dot-current"></span>
  </nav>
</div><!-- /slider-wrapper -->

<div class="navbar second">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#">Top</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#service">Service</a></li>
      <li><a href="#contents">Contents</a></li>
      <li><a href="#events">events</a></li>
      <li><a href="#lesson">Lesson</a></li>
    </ul>
  </div>
</div>

<div name="about" id="about" class="clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">About us</h1>
      <h3 class="twelve columns section-subtitle">侍エンジニア塾とは？</h3>
    </div>
  </div>
  <div class="row page-container">
    プログラミングを使えることは様々な面で役立ちます。<br/>
    <br/>
    『自分で考えたアイデアを形にできる』<br/>
    『手に職を持つことで収入が安定する』<br/>
    『プログラマーとのコミュニケーションが円滑になる』<br/>
    <br/>
    数多くの成功者たちが、英語と並んで、必須のスキルとして紹介されてます。<br/>
    プログラミングの基礎理解が様々な所で必須のスキルになりつつあります。<br/>
    <br/>
    しかし、そんなプログラミングはただ漫然と独学するだけでは時間を浪費してしまいます。<br/>
    かといって、大手のプログラミングスクールは費用もかかるし、無駄な資格をとったりと実践的ではない場合もあります。<br/>
    <br/>
    侍エンジニア塾では効果的にプログラミングを学習するための支援をしております。<br/>
  </div>
</div>

<div name="service" id="service" class="clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">Service</h1>
      <h3 class="twelve columns section-subtitle">主なサービス</h3>
    </div>
  </div>
  <div class="row service-container clearfix">
    <div class="twelve columns services-header hide-for-960"></div>
    <div class="four columns service-section">
      <div class="twelve columns service-icon">
        <img width="50" height="50" src="/assets/icon1.png" class="attachment-post-thumbnail" alt="16">
      </div>
      <h2 class="twelve columns service-section-title">Web Contents</h2>
      <p class="twelve columns service-section-content">効果的なプログラミング学習方法をWebで無料公開しております。『Webサービスの作り方』『プログラマーとして仕事を獲得する方法』などの情報も公開しております。</p>
      <span class="twelve columns service-section-read-more"><a href="#contents">Read More</a></span>
    </div>
    <div class="four columns service-section">
      <div class="twelve columns service-icon">
        <img width="50" height="50" src="/assets/icon2.png" class="attachment-post-thumbnail" alt="37">
      </div>
      <h2 class="twelve columns service-section-title">Seminar</h2>
      <p class="twelve columns service-section-content">直接わからないことを聞きながら、その日のうちにプログラミング基礎を習得できるセミナーを運営しております。</p>
      <span class="twelve columns service-section-read-more"><a href="#events">Read More</a></span>
    </div>
    <div class="four columns service-section">
      <div class="twelve columns service-icon">
        <img width="50" height="50" src="/assets/icon3.png" class="attachment-post-thumbnail" alt="38">
      </div>
      <h2 class="twelve columns service-section-title">Lesson</h2>
      <p class="twelve columns service-section-content">毎月数名限定で、独学時の数倍のスピードでプログラミングをマスターできるマンツーマンレッスンも提供しております。</p>
      <span class="twelve columns service-section-read-more"><a href="#lesson">Read More</a></span>
    </div>
    <div class="four columns service-section">
    </div>
    <div class="four columns service-section">
      <div class="twelve columns service-icon">
        <img width="50" height="50" src="/assets/icon4.png" class="attachment-post-thumbnail" alt="16">
      </div>
      <h2 class="twelve columns service-section-title">Q&A</h2>
      <p class="twelve columns service-section-content">侍エンジニア塾で紹介している学習方法をやってみて、わからない事があったらここに質問して下さい。無料で質問にお答えします。</p>
      <span class="twelve columns service-section-read-more"><a href="/questions">Read More</a></span>
    </div>
    <div class="four columns service-section">
    </div>
  </div>
</div>

<div name="contents" id="contents" class="clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">Contents</h1>
      <h3 class="twelve columns section-subtitle">僅か三ヶ月でプログラミングをマスターし、Webサービスをつくり、フリーランスエンジニアになる方法</h3>
    </div>
  </div>
  <div class="row contents-container">
    <div class="twelve columns contents-content">
      <p>
      プログラミング学習に関する情報は沢山ありますが、そのどれもが完全ではありません。<br/>
      ネット上にある情報や書籍から、質の高いものだけを抽出し、組み合わせ、『爆速』で学習できるカリキュラムを無料公開しました。<br/>
      また、『Webサービス開発の仕方』や『フリーランスとして独立方法』も公開します。<br/>
      </p>
    </div>
    <div class="four columns contents-section mobile-four" style="background:url(/assets/contents1.png) repeat-x center">
      <div class="contents-overlay">
        <h2 class="twelve columns contents-section-title"><a href="/pages/content1">二週間でプログラミング基礎をマスターする方法</a></h2>
        <span class="twelve columns contents-section-read-more"><a href="/pages/content1">Read More</a></span>
      </div>
    </div>
    <div class="four columns contents-section mobile-four" style="background:url(/assets/contents2.jpg) repeat-x center">
      <div class="contents-overlay">
        <h2 class="twelve columns contents-section-title"><a href="/pages/content2">二ヶ月でウェブサービスを作る方法</a></h2>
        <span class="twelve columns contents-section-read-more"><a href="/pages/content2">Read More</a></span>
      </div>
    </div>
    <div class="four columns contents-section mobile-four" style="background:url(/assets/contents3.jpg) repeat-x center">
      <div class="contents-overlay">
        <h2 class="twelve columns contents-section-title"><a href="/pages/content3">二週間でプログラマーとして飯を食う方法</a></h2>
        <span class="twelve columns contents-section-read-more"><a href="/pages/content">Read More</a></span>
      </div>
    </div>

  </div>
</div>

<div name="events" id="events" class="clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">Events</h1>
      <h3 class="twelve columns section-subtitle">近日予定のセミナー</h3>
    </div>
  </div>
  <div class="row events-container">
    <div class="twelve columns events-content">
      <p>
      『初心者が三ヶ月でプログラミングを習得しフリーランスエンジニアになる方法』<br/>
      『即日プログラミング習得！Webエンジニア爆速養成講座』<br/>
      など、非常識かつ効果的なセミナーを提供しております。<br/>
      他のプログラミング教室では有り得ない、実践的内容となっております。<br/>
      その場で質問できるので、より深く、より早く理解できます。<br/>
      </p>
    </div>
    <div class="twelve columns events-section">
      <div class="twelve columns events-date hide-for-small">
        <div class="two columns date-left"></div>
        <div class="three columns date-middle">2013/9/21 at 9:00 - 18:00</div>
        <div class="seven columns date-right"></div>
      </div>
      <div class="twelve columns events-content">
        <div class="two columns events-tags hide-for-small"><span><a href="http://avathemes.com/WP/Hexic/tag/html5/" rel="tag">html5</a></span><span><a href="http://avathemes.com/WP/Hexic/tag/parallax/" rel="tag">ruby</a></span><span><a href="http://avathemes.com/WP/Hexic/tag/wordpress/" rel="tag">ruby on rails</a></span><span><a href="http://avathemes.com/WP/Hexic/tag/wordpress-theme/" rel="tag">web service</a></span><span><a href="http://avathemes.com/WP/Hexic/tag/wordpress-theme/" rel="tag">freelance</a></span></div>
        <div class="ten columns">
          <div class="twelve columns events-title"><a href="http://www.street-academy.com/myclass/941" title="Read the whole article: Hexic Is An Amazing Theme">即日プログラミング習得！Webエンジニア爆速養成講座</a></div>
          <div class="twelve columns events-text"><p>
            『Webサービスを作る方法』とプログラミング基礎が2日間で学べるセミナーです。フリーランスエンジニアとして最短で活躍する方法も教えます！<br/>
            <br/>
            【このセミナーで得られる事】<br/>
            • プログラミング基礎<br/>
            • 最短でWebサービスを作る方法<br/>
            • Webサービス開発基礎<br/>
            • 面倒な環境構築が終わり、プログラミングを快適にスタート出来る<br/>
            • 効率的な学習方法<br/>
            • 最短でエンジニアとして仕事を獲得する方法<br/>
            • フリーランスエンジニアとして自由なワークスタイルを確立する方法<br/>
            • 同志の繋がり<br/>
            • 通常1万円/時間の個別カウンセリングを無料で90分贈呈<br/>
            <br/>
          </p></div>
          <div class="twelve columns events-read-more"><a href="http://www.street-academy.com/myclass/941" title="Read the whole article: Hexic Is An Amazing Theme">Read More</a></div>
        </div>
      </div>
    </div>
    <div class="twelve columns events-section">
      <div class="twelve columns events-date hide-for-small">
        <div class="two columns date-left"></div>
        <div class="three columns date-middle">2013/10/5 at 13:00 - 15:00</div>
        <div class="seven columns date-right"></div>
      </div>
      <div class="twelve columns events-content">
        <div class="two columns events-tags hide-for-small"><span><a href="http://avathemes.com/WP/Hexic/tag/html5/" rel="tag">html5</a></span><span><a href="http://avathemes.com/WP/Hexic/tag/parallax/" rel="tag">ruby</a></span><span><a href="http://avathemes.com/WP/Hexic/tag/wordpress/" rel="tag">ruby on rails</a></span><span><a href="http://avathemes.com/WP/Hexic/tag/wordpress-theme/" rel="tag">web service</a></span><span><a href="http://avathemes.com/WP/Hexic/tag/wordpress-theme/" rel="tag">freelance</a></span></div>
        <div class="ten columns">
          <div class="twelve columns events-title"><a href="http://www.street-academy.com/myclass/561" title="Read the whole article: This Is Our Second Blog Post">3ヶ月でプログラミングを習得し、仕事を獲得し、自由に働く方法</a></div>
          <div class="twelve columns events-text"><p>
            『0からプログラミングを習得し、3ヶ月で仕事を獲得する方法』を3ステップで<br/>
            お教えします。<br/>
            <br/>
            ・1ヶ月目　プログラミングの基礎を身につける<br/>
            　プログラミングの基礎を身につけるために必要な心構えと、楽しく簡単に学習する方法をお教えします。<br/>
            ・2ヶ月目　自分でプチWEBサービスを作ってみる<br/>
            　プログラミングの基礎を習得するため、エンジニアとして仕事をとるためには、自分で作品を作ることが重要です。<br/>
            　アイデアの練り方、設計方法、実装の仕方をお教えします。<br/>
            ・3ヶ月目　仕事を獲得する<br/>
            　最短でプログラマーとして仕事を獲得する方法をお教えします。<br/>
            　働きながら学ぶことで、加速度的にスキルアップします。<br/>
            <br/>
          </p></div>
          <div class="twelve columns events-read-more"><a href="http://www.street-academy.com/myclass/561" title="Read the whole article: This Is Our Second Blog Post">Read More</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div name="lesson" id="lesson" class="clearfix">
  <div class="contain-to-grid clearfix">
    <div class="twelve columns section-heading">
      <h1 class="twelve columns section-title">Lesson</h1>
      <h3 class="twelve columns section-subtitle">マンツーマンレッスン</h3>
    </div>
  </div>
  <div class="row lessons-container">
    <div class="twelve columns lesson-section">
      <div class="one column lesson-left hide-for-small">
      </div>
      <div class="ten columns lesson">
        <div class="twelve columns lesson-photo">
          <img width="140" height="162" src="/assets/samurai.png" class="attachment-lesson-thumbnail wp-post-image" alt="lesson-2">                            </div>
        <div class="twelve columns lesson-title">侍エンジニア塾<br/>3ヶ月マンツーマンコース</div>
        <div class="twelve columns lesson-content">
          <p>
          <br/>
          プログラミングスクールは数多くありますが、マンツーマンレッスンは非常に少ないです。<br/>
          一人一人オーダーメイドな内容なので、あなたにあわせた効率的＆効果的な学習ができます。<br/>
          <br/>
          わからない事が有ると、平気で一日二日つかってしまいますが、マンツーマンレッスンならその日のうちに解決してしまいます。<br/>
          独学時の三分の一以上の時間削減効果が期待できます。<br/>
          <br/>
          また、サービス開発や独立を経験した講師がおしえるので、Webサービス開発やフリーランスの仕事術まで、プログラミングを習得したその先までお教えできます。<br/>
          </p>
        </div>
      </div>
      <div class="twelve columns events-read-more"><a href="https://dl.dropboxusercontent.com/u/11647111/sejuku/index.html" title="Read the whole article: Hexic Is An Amazing Theme">Read More</a></div>
    </div>
  </div>
</div>
