<div class="row">
  <div class="span6 offset2">
	<%= @notice %>
	<p>ご送信頂きましたメールアドレス宛にメールが届きますので、<br>
		ご確認ください。</p>
  </div>
</div>
<!-- Google Code for &#20837;&#22654;&#21839;&#12356;&#21512;&#12431;&#12379; Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 977618469;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "EzbWCJP12AcQpYyV0gM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/977618469/?label=EzbWCJP12AcQpYyV0gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Yahoo Code for your Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var yahoo_conversion_id = 1000113739;
var yahoo_conversion_label = "TwugCLGItAkQ58a-zAM";
var yahoo_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://i.yimg.jp/images/listing/tool/cv/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://b91.yahoo.co.jp/pagead/conversion/1000113739/?value=0&amp;label=TwugCLGItAkQ58a-zAM&amp;guid=ON&amp;script=0&amp;disvt=true"/>
</div>
</noscript>