.navbar {
  margin-bottom: 0px;
}

.navbar .brand {
  font-size: 28px;
  font-family: "ヒラギノ明朝 ProN W6","HiraMinProN-W6";
  color: #999999;
  text-shadow: 1px 1px 1px #585858, -2px -2px 2px #FFFFFF;
}

.navbar-inner {
  background: url("debut_light.png");
}

.second .nav,
.second .nav > li {
  float:none;
  display:inline-block !important;
  display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.second .navbar-inner {
  text-align: center;
  background-color: transparent;
  background: url("header.png") bottom repeat-x;
  height: 60px;
  border: 0;
  border-radius: 0;
}

.second .nav li {
  padding: 6px 12px;
}

.second .nav li a {
  text-shadow: none;
  color: #bbb;
  font-size: 20px;
  font-weight: 500;
}

.twelve {
  width: 100%;
}

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

.section-heading {
  margin-top: 0px;
  background: url(section-heading.png) center top no-repeat;
  background-size: 1280px;
  display: block;
}

h1.section-title {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-top: 210px;
  font-family: 'archiveregular';
  color: #505050;
  font-size: 94px;
  line-height: 94px;
  font-weight: normal;
  text-align: center;
}

h3.section-subtitle {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-top: 0px;
  color: #1CA5AF;
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
}

.row {
  width: 980px !important;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto !important;
}

#service {
  background: url("white_texture.png");
}

.service-container, .page-container {
  margin: 0 auto;
  width: 960px;
  padding: 0;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.service-section {
  margin: 0 auto;
  text-align: center;
  height: 280px;
  width: 33%;
  display: block;
  background: none;
  float: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.service-section:hover {
  background:#F20272;
  padding-top: -1em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-icon {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-section:hover .service-icon {
  margin-top:15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h2.service-section-title {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: #676767;
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  line-height: 24px;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.service-section:hover h2.service-section-title {
  color:#fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

p.service-section-content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.service-section:hover p.service-section-content {
  color:#fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

span.service-section-read-more {
  background: url(service-read-more.jpg) top center no-repeat;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  margin: 10px 0;
  padding: 10px 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

span.service-section-read-more a {
  color: #fff;
}

.service-section:hover span.service-section-read-more {
  opacity:1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.services-header {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100px;
  display: block;
  margin-bottom: 20px;
  background: url(services-header.png) no-repeat top center;
}

#about {
  background: url(absurdidad.png);
}

.service-container, .page-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

#contents {
  background: url(absurdidad.png);
}

.contents-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.contents-section {
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
  text-align: center;
  height: 240px;
  display: block;
  background: none;
  float: left !important;
  margin: 1%;
  width: 31% !important;
}

.contents-overlay {
  width: 100% !important;
  height: 100%;
  background: url(contents-overlay.png) repeat-x bottom;
  display: block;
}

h2.contents-section-title {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'archiveregular';
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
  margin-bottom: 0px;
  bottom: 20px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h2.contents-section-title a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  text-shadow: 1px 1px 3px #000;
}

span.contents-section-read-more {
  background: url(about-read-more.jpg) top center no-repeat;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  margin-top: 10px;
  padding-top: 10px;
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

span.contents-section-read-more a {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 3px #000;
}

.contents-section:hover h2.contents-section-title {
  bottom:60px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contents-section:hover p.contents-section-content {
  color:#fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.contents-section:hover span.contents-section-read-more {
  opacity:1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#footer {
  background: url(asfalt.png) repeat top center;
  color: #ddd;
  text-align: center;
  padding: 12px;
}

#events {
  background: url("white_texture.png");
}

.events-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.events-section {
  margin: 0 auto;
  padding: 0;
  background: none;
  margin-bottom: 60px;
}

@media only screen and (min-width: 1441px) {
  .hide-for-small, .hide-for-medium, .hide-for-medium-down, .hide-for-large, .show-for-large-up, .show-for-xlarge {
    display: inherit !important;
  }
}

.two, .row .two {
  width: 16.66667%;
}

.three, .row .three {
  width: 25%;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

.seven, .row .seven {
  width: 58.33333%;
}

.date-left, .date-right {
  margin: 0;
  padding: 0;
  height: 1px;
  width: 100%;
  display: block;
  background: #f20272;
  margin-top: 12px;
}

.date-middle {
  font-family: 'archiveregular';
  color: #f20272;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.events-tags {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 10px;
}

.events-tags span a {
  width: 100%;
  display: block;
  font-family: 'archiveregular';
  color: #676767;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  line-height: 20px;
  text-align: right;
  margin: 0;
  padding: 0;
}

.ten, .row .ten {
  width: 83.33333%;
}

.events-title {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'archiveregular';
  color: #505050;
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  text-align: left;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 10px;
}

.events-text, .events-read-more {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.events-title a {
  color: #505050;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.events-text p {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
}

.events-read-more a {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'archiveregular';
  color: #676767;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
  display: block;
  padding-top: 5px !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.events-tags span:nth-child(2n+0) a {
  color: #f20272 !important;
}

#lesson {
  background: url(absurdidad.png);
}

.lessons-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.lesson-section {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
  padding-bottom: 10px !important;
  margin-bottom: 50px;
  background: url(lesson-bottom.png) bottom center no-repeat;
}

.lesson-left {
  background: url(lesson-left.png) bottom center no-repeat;
  height: 280px;
  display: block;
}

.lesson-photo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.lesson-photo img {
  margin: 0 auto;
  text-align: center;
}

.lesson-title {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
  font-family: 'archiveregular';
  color: #505050;
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
  text-align: center;
}

.contents-content p, .events-content p, .lesson-content p {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
}

.lesson-right {
  background: url(lesson-right.png) bottom center no-repeat;
  height: 280px;
  display: block;
}

.lesson-photo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.lesson-photo img {
  margin: 0 auto;
  text-align: center;
}

.lesson-title {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
  font-family: 'archiveregular';
  color: #505050;
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
  text-align: center;
}

.lesson-content p {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
}

.lesson-right {
  background: url(lesson-right.png) bottom center no-repeat;
  height: 280px;
  display: block;
}

.lesson-photo {
  text-align: center;
}

.one, .row .one {
  width: 8.33333%;
}

.ten, .row .ten {
  width: 83.33333%;
}

@media only screen and (min-width: 1441px) {
  .hide-for-small, .hide-for-medium, .hide-for-medium-down, .hide-for-large, .show-for-large-up, .show-for-xlarge {
    display: inherit !important;
  }
}

#timeline {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 100px auto;
  position: relative;
  background: url('dot.gif') left 45px repeat-x;
}

#dates {
  width: 100%;
  height: 60px;
  overflow: hidden;
}

#dates li {
  font-family: 'archiveregular';
  font-weight: normal;
  list-style: none;
  float: left;
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background: url('biggerdot.png') center bottom no-repeat;
}

#dates a {
  line-height: 38px;
  padding-bottom: 10px;
}

#issues {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

#issues li {
  width: 960px;
  height: 350px;
  list-style: none;
  float: left;
}

#issues li img {
  float: left;
  margin: 10px 30px 10px 50px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
  zoom: 1;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.9,0.9);
  -moz-transform: scale(0.9,0.9);
  -o-transform: scale(0.9,0.9);
  -ms-transform: scale(0.9,0.9);
  transform: scale(0.9,0.9);
}

#issues li h1 {
  font-family: 'archiveregular';
  color: #f20272;
  font-size: 48px;
  margin: 20px 0;
}

#issues li p {
  font-family: 'PT Sans', sans-serif;
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  line-height: 26px;
  margin-right: 70px;
}

#issues li.selected img {
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}

#timeline_next {
  right: 0;
  background-image: url('next.png');
}

#timeline_next, #timeline_prev {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 170px;
  width: 22px;
  height: 38px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#timeline_prev {
  left: 0;
  background-image: url('prev.png');
}
