@charset "UTF-8";
/*---------------------
reset
---------------------*/
* {
  margin:0;
  padding:0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote {
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
}
article,aside,details,footer,header,hgroup,menu,nav,section,summary {
  display: block;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
}
img {
  border:none;
  vertical-align:bottom;
}
li {
  list-style:none inside none;
}
a {
  outline:none;
}

/*---------------------
clearfix
---------------------*/
.pkg:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden;
}
.pkg{
	display:inline-block;
}
* html .pkg{
	height:1%;
}
.pkg{
	display:block;
}

/*---------------------
base
---------------------*/
body, p, td, div {
  color:#444;
  font-size:12px;
  line-height:140%;
}

/*---------------------
start
---------------------*/
.lp_wrap {
  width:960px;
  margin:0 auto;
}
.wrap_01,
.wrap_02 {
  margin-bottom:40px;
}
.contact_box {
  width:960px;
  height:361px;
  background:url(/assets/report01/il_01_09.gif) 0 0 no-repeat;
  position:relative;
}
.btn_form {
  position:absolute;
  top:135px;
  left:250px;
}
.btn_form a {
  background:url(/assets/report01/btn_01.gif) 0 0 no-repeat;
  display:block;
  width:470px;
  height:0;
  padding-top:95px;
  overflow:hidden;
}
.btn_form a:hover {
  background-position:0 -95px;
}
.btn_about {
  position:absolute;
  bottom:27px;
  left:50px;
}
.btn_about a {
  background:url(/assets/report01/btn_02.gif) 0 0 no-repeat;
  display:block;
  width:420px;
  height:0;
  padding-top:55px;
  overflow:hidden;
}
.btn_about a:hover {
  background-position:0 -55px;
}
.btn_eminar {
  position:absolute;
  bottom:27px;
  right:50px;
}
.btn_eminar a {
  background:url(/assets/report01/btn_03.gif) 0 0 no-repeat;
  display:block;
  width:420px;
  height:0;
  padding-top:55px;
  overflow:hidden;
}
.btn_eminar a:hover {
  background-position:0 -55px;
}
.ins_01 {
  width:960px;
  height:509px;
  background:url(/assets/report01/il_01_07.gif) 0 0 no-repeat;
  position:relative;
}
.btn_url_01 {
  position:absolute;
  top:404px;
  left:50px;
}
.btn_url_01 a {
  width:445px;
  background:url(/assets/report01/btn_url_01_01.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:18px;
  overflow:hidden;
}
.btn_url_01 a:hover {
  background-position:0 -18px;
}
.btn_url_02 {
  position:absolute;
  top:469px;
  left:50px;
}
.btn_url_02 a {
  width:288px;
  background:url(/assets/report01/btn_url_01_02.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:18px;
  overflow:hidden;
}
.btn_url_02 a:hover {
  background-position:0 -18px;
}
.ins_02 {
  width:960px;
  height:454px;
  background:url(/assets/report01/il_01_08.gif) 0 0 no-repeat;
  position:relative;
}
.btn_url_03 {
  position:absolute;
  top:177px;
  left:50px;
}
.btn_url_03 a {
  width:292px;
  background:url(/assets/report01/btn_url_01_03.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:18px;
  overflow:hidden;
}
.btn_url_03 a:hover {
  background-position:0 -18px;
}
.howto_01 {
  width:960px;
  height:645px;
  background:url(/assets/report01/il_02_01.gif) 0 0 no-repeat;
  position:relative;
}
.btn_url_04 {
  position:absolute;
  top:252px;
  left:20px;
}
.btn_url_04 a {
  width:205px;
  background:url(/assets/report01/btn_url_02_01.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:18px;
  overflow:hidden;
}
.btn_url_04 a:hover {
  background-position:0 -18px;
}
.howto_02 {
  width:960px;
  height:409px;
  background:url(/assets/report01/il_02_03.gif) 0 0 no-repeat;
  position:relative;
}
.btn_url_05 {
  position:absolute;
  top:162px;
  left:50px;
}
.btn_url_05 a {
  width:330px;
  background:url(/assets/report01/btn_url_02_02.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:15px;
  overflow:hidden;
}
.btn_url_05 a:hover {
  background-position:0 -15px;
}
.btn_url_06 {
  position:absolute;
  top:162px;
  left:510px;
}
.btn_url_06 a {
  width:314px;
  background:url(/assets/report01/btn_url_02_03.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:15px;
  overflow:hidden;
}
.btn_url_06 a:hover {
  background-position:0 -15px;
}
.btn_url_07 {
  position:absolute;
  top:210px;
  left:50px;
}
.btn_url_07 a {
  width:318px;
  background:url(/assets/report01/btn_url_02_04.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:15px;
  overflow:hidden;
}
.btn_url_07 a:hover {
  background-position:0 -15px;
}
.howto_03 {
  width:960px;
  height:360px;
  background:url(/assets/report01/il_02_04.gif) 0 0 no-repeat;
  position:relative;
}
.btn_url_08 {
  position:absolute;
  top:160px;
  left:50px;
}
.btn_url_08 a {
  width:372px;
  background:url(/assets/report01/btn_url_02_05.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:15px;
  overflow:hidden;
}
.btn_url_08 a:hover {
  background-position:0 -15px;
}
.btn_url_09 {
  position:absolute;
  top:160px;
  left:510px;
}
.btn_url_09 a {
  width:427px;
  background:url(/assets/report01/btn_url_02_06.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:15px;
  overflow:hidden;
}
.btn_url_09 a:hover {
  background-position:0 -15px;
}
.howto_04 {
  width:960px;
  height:602px;
  background:url(/assets/report01/il_02_05.gif) 0 0 no-repeat;
  position:relative;
}
.btn_url_10 {
  position:absolute;
  top:163px;
  left:50px;
}
.btn_url_10 a {
  width:332px;
  background:url(/assets/report01/btn_url_02_07.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:15px;
  overflow:hidden;
}
.btn_url_10 a:hover {
  background-position:0 -15px;
}
.btn_url_11 {
  position:absolute;
  top:163px;
  left:510px;
}
.btn_url_11 a {
  width:306px;
  background:url(/assets/report01/btn_url_02_08.gif) 0 0 no-repeat;
  display:block;
  height:0;
  padding-top:15px;
  overflow:hidden;
}
.btn_url_11 a:hover {
  background-position:0 -15px;
}
footer {
  width:100%;
  overflow:hidden;
}