html,body {
  height:100%;
}

html {
  overflow-y:scroll;
}

footer {
  position:fixed;
  bottom:0;
  width:100%;
}

footer img {
  max-width: none;
}

header {
  text-align: center;
  background-position: bottom;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #0e0e0e), color-stop(1.0, #232323));
  background-color: #101010;
}

header img {
  margin: 40px auto 0;
  width: 960px;
  height: 514px;
}

.navbar.lesson .navbar-inner {
  height: 48px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.lesson .navbar-inner {
  background: url(lesson/navbar.png);
  background-size: contain;
  background-repeat: repeat-x;
}

.lesson .container {
  width: 960px!important;
}

.lesson .nav>li {
  margin-right: 20px;
}

.lesson .nav>li>a {
  color: #FEFEFE;
  font-weight: bold;
}

.lesson .nav>li>a:hover {
  color: #17c2ee;
}

.contents {
  background-position: center top!important;
  background: url(lesson/background.gif);
  min-height:1024px;
}

.contents-inner {
  width: 960px;
  margin: 0px auto;
}

.border {
  margin: 40px 0;
}

.title {
  margin-bottom: 20px;
}
